{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteStrictMode": false
			}
		}
	]
}
