@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family-bebas: "Bebas Neue", sans-serif;
  --font-family-benzin: "Montserrat", serif;
}

html,
body {
  font-family: var(--font-family-benzin);
  width: 100%;
  height: 100%;
}

button,
a {
  cursor: pointer;
}

* {
  transition: all 0.3s ease-in-out;
}

:root {
  --swiper-theme-color: #fff !important
}

